{% load food_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Daily food diary</title>

  <style>
    * {
      margin: 0;
      padding: 0;
    }

    .container {
      margin: 0 auto;
    }

    h1 {
      text-align: center;
      font-size: 1.8em;
      padding: 0.4em 0;
    }

    .canvas-container {
      display: flex;
      justify-content: center;
      margin: 0.5em;
    }
  </style>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>
<body>
<div class="container">
  <h1>
    <a href="{% url 'admin:index' %}">Заполнить дневник</a>
  </h1>
  <div class="canvas-container">
    <canvas id="energy"></canvas>
  </div>
  <div class="canvas-container">
    <canvas id="cfp"></canvas>
  </div>
  <div class="canvas-container">
    <canvas id="cfp2"></canvas>
  </div>
</div>

<script>
  var energyCtx = document.getElementById('energy').getContext('2d');
  new Chart(energyCtx, {
    type: 'bar',
    data: {
      labels: [
        {% for day in data %}
          '{{ day|first|date }}',
        {%  endfor %}
      ],
      datasets: [{
        label: 'Энергия, кКал',
        data: [
          {% for day in data %}
            {{ day|last|getitem:'energy'|round }},
          {%  endfor %}
        ],
        backgroundColor: 'yellow',
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });

  var cfpCtx = document.getElementById('cfp').getContext('2d');
  new Chart(cfpCtx, {
    type: 'bar',
    data: {
      labels: [
        {% for day in data %}
          '{{ day|first|date }}',
        {%  endfor %}
      ],
      datasets: [
        {% for param in 'Белки, г|carbs;Жиры, г|fats;Углеводы, г|proteins'|split:';' %}
          {% with info=param|split:'|' %}
            {
              label: '{{ info.0 }}',
              data: [
                {% for day in data %}
                  {{ day|last|getitem:info.1|round }},
                {%  endfor %}
              ],
              backgroundColor: '{% cycle 'lightgreen' 'lightcoral' 'lightblue' %}',
            },
          {% endwith %}
        {% endfor %}
      ]
    },
    options: {
      scales: {
        xAxes: [{
          stacked: true,
        }],
        yAxes: [{
          ticks: {
            beginAtZero: true
          },
          stacked: true,
        }],
      }
    }
  });

  var cfp2Ctx = document.getElementById('cfp2').getContext('2d');
  new Chart(cfp2Ctx, {
    type: 'bar',
    data: {
      labels: [
        {% for day in data %}
          '{{ day|first|date }}',
        {%  endfor %}
      ],
      datasets: [
        {% for param in 'Белки, г|carbs;Жиры, г|fats;Углеводы, г|proteins'|split:';' %}
          {% with info=param|split:'|' %}
            {
              label: '{{ info.0 }}',
              data: [
                {% for day in data %}
                  {{ day|last|getitem:info.1|round }},
                {%  endfor %}
              ],
              backgroundColor: '{% cycle 'lightgreen' 'lightcoral' 'lightblue' %}',
            },
          {% endwith %}
        {% endfor %}
      ]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          },
        }],
      }
    }
  });
</script>
</body>
</html>
